.footer__link-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    min-width: 465px;
    min-height: 18px;
}
@media screen and (max-width: 425px) {
    .footer__link-list {
        flex-direction: column;
        align-items: flex-start;
        min-width: 186px;
        min-height: 248px;
    }
}