@media screen and (min-width: 1280px) {
    .place__image {
        max-width: 460px;
        min-height: 460px;
    }
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        min-height: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
        min-height: 340px;
    }
}

@media screen and (max-width: 320px) {
    .place__image {
        max-width: 320px;
        min-height: 320px;
    }
}