.photo-grid__container {
    display: grid;
    padding: 0;
    justify-items: space-around;
    align-content: center;
    gap: 16px;
    list-style: none;
}
@media screen and (min-width: 1280px) {
    .photo-grid__container {
        max-width: 1184px;
        min-height: 671px;
        margin: 92px auto 0;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid__container {
        max-width: 928px;
        min-height: 942px;
        margin: 92px auto 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid__container {
        max-width: 720px;
        min-height: 1664px;
        margin: 88px auto 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid__container {
        max-width: 288px;
        min-height: 2724px;
        margin: 64px auto 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
    }
}