.intro__list {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}
@media screen and (min-width: 1280px) {
    .intro__list {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .intro__list {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 768px) {
    .intro__list {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        font-size: 12px;
        line-height: 18px;
    }
}