.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 1280px) {
    .lead {
        max-width: 984px;
        max-height: 1005px;
        margin: 56px auto 0;
    }    
}

@media screen and (max-width: 1279px)  {
    .lead {
        max-width: 928px;
        max-height: 962px;
        margin: 48px auto 0;
    }    
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        max-height: 862px;
        margin: 48px auto 0;
    }    
}

@media screen and (max-width: 425px) {
    .lead {
        max-width: 320px;
        max-height: 406px;
        margin: 48px auto 0;
    }
}