.cover__subtitle {
    color: white;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    z-index: 2;
    font-size: 18px;
    line-height: 22px;
    max-width: 312px;
    min-height: 66px;
}
@media screen and (max-width: 700px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 228px;
        min-height: 48px;
    }
}