.place__paragraph {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}
@media screen and (min-width: 1280px) {
    .place__paragraph {
        margin: 0 148px 27px 40px;
    }
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        margin: 0 48px 27px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        margin: 0 24px 25px 28px;
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        margin: 0 16px 25px;
        font-size: 16px;
        line-height: 163%;
    }
}
.place__paragraph:last-of-type {
    margin-bottom: 0;
}