.intro__text {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}
@media screen and (min-width: 1280px) {
    .intro__text {
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 1024px) {
    .intro__text {
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 768px) {
    .intro__text {
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        font-size: 16px;
        line-height: 163%;
    }
}