.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 92px 790px 0px auto;
    max-width: 54%;
    min-height: 429px;
}
@media screen and (min-width: 1280px) {
    .intro {
        margin: 92px 35% 0 11%;
    }
}

@media screen and (max-width: 1279px) {
    .intro {
        margin: 92px 286px 0 48px;
    }
}

@media screen and (max-width: 900px) {
    .intro {
        max-width: 92%;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 700px) {
    .intro {
        max-width: 90%;
        margin: 64px auto 0;
    }
}