.lead__subtitle {
    color: white;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
@media screen and (min-width: 1280px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin: 0 auto 64px;
    }
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin: 0 auto 56px;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin: 0 auto 56px;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 0 auto 40px;
    }
}