.place__link {
    color: white;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
    font-size: 18px;
    line-height: 22px;
}
.place__link:hover {
    cursor: pointer;
}