.cover__overlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-decoration: none;
}
@media screen and (min-width: 1280px) {
    .cover__overlay {
        max-width: 92%;
    }
}

@media screen and (max-width: 1279px)  {
    .cover__overlay {
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .cover__overlay {
        max-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .cover__overlay {
        max-width: 100%;
    }
}
.cover__overlay:hover {
    cursor: pointer;
    background-color: #2A2C2F;
    opacity: 0.3;
}