.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 92px auto 0;
    padding-bottom: 24px;
    min-height: 18px;
}
@media screen and (min-width: 1280px) {
    .footer {
        max-width: 1184px;
    }
}

@media screen and (max-width: 1279px)  {
    .footer {
        flex-direction: row;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        max-width: 186px;
        min-height: 310px;
        margin: 64px 118px 0 24px;
        padding-bottom: 16px;
    }
}