.place__url-heading {
    color: white;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 170%;
}
@media screen and (max-width: 900px) {
    .place__url-heading {
        font-size: 12px;
        line-height: 12px;
    }
}
