.cover__titles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 34%;
    left: 30%;
}
@media screen and (min-width: 1280px) {
    .cover__titles-container {
        position: absolute;
        top: 34%;
        left: 30%;
    }
}
@media screen and (max-width: 1024px) {
    .cover__titles-container {
        position: absolute;
        top: 32%;
        left: 24%;
    }
}
@media screen and (max-width: 768px) {
    .cover__titles-container {
        position: absolute;
        top: 28%;
        left: 18%;
    }
}
@media screen and (max-width: 425px) {
    .cover__titles-container {
        position: absolute;
        top: 18%;
        left: 15%;
    }
}